<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.InningMapper" >
  <resultMap id="BaseResultMap" type="entity.Inning" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dlbm" property="dlbm" jdbcType="VARCHAR" />
    <result column="dlmc" property="dlmc" jdbcType="VARCHAR" />
    <result column="qsxz" property="qsxz" jdbcType="VARCHAR" />
    <result column="qsdwdm" property="qsdwdm" jdbcType="VARCHAR" />
    <result column="zldwmc" property="zldwmc" jdbcType="VARCHAR" />
    <result column="zhen" property="zhen" jdbcType="VARCHAR" />
    <result column="zhenname" property="zhenname" jdbcType="VARCHAR" />
    <result column="areaha" property="areaha" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dlbm, dlmc, qsxz, qsdwdm, zldwmc, zhen, zhenname, areaha
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from inning
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="ZhenList" resultMap="BaseResultMap"  >
    select distinct zhen , zhenname from inning order by zhen
  </select>
  <select id="Zhendata" resultMap="BaseResultMap"  >
    select dlbm ,dlmc, sum(areaha) as  areaha from inning
	where zhen = #{zhenname,jdbcType=VARCHAR}
	group by dlbm,dlmc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from inning
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.Inning" >
    insert into inning (id, dlbm, dlmc, 
      qsxz, qsdwdm, zldwmc, 
      zhen, zhenname, areaha
      )
    values (#{id,jdbcType=INTEGER}, #{dlbm,jdbcType=VARCHAR}, #{dlmc,jdbcType=VARCHAR}, 
      #{qsxz,jdbcType=VARCHAR}, #{qsdwdm,jdbcType=VARCHAR}, #{zldwmc,jdbcType=VARCHAR}, 
      #{zhen,jdbcType=VARCHAR}, #{zhenname,jdbcType=VARCHAR}, #{areaha,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.Inning" >
    insert into inning
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dlbm != null" >
        dlbm,
      </if>
      <if test="dlmc != null" >
        dlmc,
      </if>
      <if test="qsxz != null" >
        qsxz,
      </if>
      <if test="qsdwdm != null" >
        qsdwdm,
      </if>
      <if test="zldwmc != null" >
        zldwmc,
      </if>
      <if test="zhen != null" >
        zhen,
      </if>
      <if test="zhenname != null" >
        zhenname,
      </if>
      <if test="areaha != null" >
        areaha,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dlbm != null" >
        #{dlbm,jdbcType=VARCHAR},
      </if>
      <if test="dlmc != null" >
        #{dlmc,jdbcType=VARCHAR},
      </if>
      <if test="qsxz != null" >
        #{qsxz,jdbcType=VARCHAR},
      </if>
      <if test="qsdwdm != null" >
        #{qsdwdm,jdbcType=VARCHAR},
      </if>
      <if test="zldwmc != null" >
        #{zldwmc,jdbcType=VARCHAR},
      </if>
      <if test="zhen != null" >
        #{zhen,jdbcType=VARCHAR},
      </if>
      <if test="zhenname != null" >
        #{zhenname,jdbcType=VARCHAR},
      </if>
      <if test="areaha != null" >
        #{areaha,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.Inning" >
    update inning
    <set >
      <if test="dlbm != null" >
        dlbm = #{dlbm,jdbcType=VARCHAR},
      </if>
      <if test="dlmc != null" >
        dlmc = #{dlmc,jdbcType=VARCHAR},
      </if>
      <if test="qsxz != null" >
        qsxz = #{qsxz,jdbcType=VARCHAR},
      </if>
      <if test="qsdwdm != null" >
        qsdwdm = #{qsdwdm,jdbcType=VARCHAR},
      </if>
      <if test="zldwmc != null" >
        zldwmc = #{zldwmc,jdbcType=VARCHAR},
      </if>
      <if test="zhen != null" >
        zhen = #{zhen,jdbcType=VARCHAR},
      </if>
      <if test="zhenname != null" >
        zhenname = #{zhenname,jdbcType=VARCHAR},
      </if>
      <if test="areaha != null" >
        areaha = #{areaha,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.Inning" >
    update inning
    set dlbm = #{dlbm,jdbcType=VARCHAR},
      dlmc = #{dlmc,jdbcType=VARCHAR},
      qsxz = #{qsxz,jdbcType=VARCHAR},
      qsdwdm = #{qsdwdm,jdbcType=VARCHAR},
      zldwmc = #{zldwmc,jdbcType=VARCHAR},
      zhen = #{zhen,jdbcType=VARCHAR},
      zhenname = #{zhenname,jdbcType=VARCHAR},
      areaha = #{areaha,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>